body {
    background-image: url('images/event-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.navbar, .card {
    background-color: rgba(74, 74, 74, 0.5) !important;
    backdrop-filter: blur !important;
    box-shadow: 0 2px 3px rgb(2, 4, 24) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.09) !important;
}

.card {
    color: white;
}

#eventual-logo {
    height: 3vh;
}

.div-spacer {
    min-height: 50%;
}


/* .glass-card {
    background-color: rgba(74, 74, 74, 0.5);
    backdrop-filter: blur;
    box-shadow: 0 2px 3px rgb(2, 4, 24);
    border-bottom: 2px solid rgba(255, 255, 255, 0.09);
    border-right: 2px solid rgba(255, 255, 255, 0.09);
} */